<h1>EcommerceApp-Groceries Delivered in an Hour</h1>
<p>Add items to cart-Easy checkout-Fast delivery</p>


<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= image_tag product.image.url(:thumb) %></p>
        <p>
          <a href="#" data-toggle="modal" data-target="#myModal_<%=product.id %>">
            <span class="glyphicon glyphicon-zoom-in"></span> Quick View
          </a>
        </p>
        <h3><%= product.name %></h3>
        <p><%= number_to_currency product.price %></p>
        <p><%= product.description %></p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
        </div>
        <div class="modal-body">
          <p><%= number_to_currency product.price %></p>
          <p><%= product.description %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to "View Product", product, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>